<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODOLIST</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div id="app">

        <div id="wrapper">

            <h1>TODO.LIST</h1>

            <div id="form-wrapper">
                <div id="o-form">
                    <input type="text" id="text-novo-item">
                    <div>
                        <input type="checkbox" id="is-importante">
                        <label for="is-importante"> Importante</label><br>
                    </div>
                    <button>
                        Salvar
                    </button>
                </div>
                <p id="contagem"></p>
            </div>

            <div id="list-wrapper">
                <!--
                 <div class="item">
                    <p class="texto-item">Item a Fazer</p>
                    </div>
                    <div class="item">
                        <p class="texto-item">Item a Fazer</p>
                    </div>
                    <div class="item feito">
                        <p class="texto-item">Item Feito</p>
                    </div>
                    <div class="item importante">
                        <p class="texto-item">Item Importante</p>
                    </div>
                    <div class="item feito">
                        <p class="texto-item">Item Feito</p>
                    </div>
                    <div class="item importante">
                        <p class="texto-item">Item Importante</p>
                </div>
                -->
                <!--<div class="item" v-for="item in lista"> -->
                    <!--<p class="texto-item"> {{ item.texto }} </p> -->
                    <div class="item" v-bind:class="{importante: item.importante}" v-for="item in lista">
                        <p class="texto-item" v-text="item.texto">
                    </div>
                <!--</div> -->
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3.0.0-rc.5/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    lista: [
                        {
                            texto: "Item importante",
                            importante: true,
                            feito: false,
                        },
                        {
                            texto: "Item feito",
                            importante: false,
                            feito: true,
                        },
                        {
                            texto: "Item a fazer",
                            importante: false,
                            feito: false,
                        },
                    ],
                };
            },
        }).mount("#app")
    </script>

</body>

</html>